<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <h1>Skate Park</h1>
<h3>Hola {{ user.nombre }}</h3>
    <div class="py-4">
      <h2>Datos del perfil</h2>
      <hr class="w-50" />

      <form>
        <div class="form-group row w-50 m-auto">
          <div class="form-group col-12 col-sm-6">
            <label>Email</label>
            <input
              class="form-control m-auto"
              disabled
              value= {{ user.email }}
            />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Nombre</label>
            <input class="form-control m-auto" value='' />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Password</label>
            <input
              type="password"
              class="form-control m-auto"
              value=''
            />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Repita la password</label>
            <input
              type="password"
              class="form-control m-auto"
              value=''
            />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Años de experiencia</label>
            <input class="form-control m-auto" value='' />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Especialidad</label>
            <input class="form-control m-auto" value='' />
          </div>
        </div>
        <div class="mb-1">
          <button class="btn btn-primary" id="updateBtn">Actualizar</button>
        </div>
        <div>
          <button class="btn btn-danger" id="deleteBtn">Eliminar cuenta</button>
        </div>
      </form>
    </div>

<script>
    const deleteBtn = document.getElementById("deleteBtn")
    const id = `{{user.id}}`
    deleteBtn.addEventListener("click", async (e) => {
        e.preventDefault()
          try {
              const { data: token } = await axios.delete(`api/v1/skaters/${id}`)
              alert("Usuario eliminado con éxito")
              window.location = `/`
          }  catch (error) {
        alert(error.response.data.error);
      }
    })
</script>

<script>
    const updateBtn = document.getElementById("updateBtn")

    updateBtn.addEventListener("click", async (e) => {
        e.preventDefault()
        let [email, nombre, password, repassword, anos_experiencia, especialidad] = document.querySelectorAll("input")
        nombre = nombre.value
        password = password.value
        anos_experiencia = anos_experiencia.value
        especialidad = especialidad.value
        const skater = {
            id, 
            nombre,
            password,
            anos_experiencia,
            especialidad
        }
        try {
            const { data: token } = await axios.put("api/v1/skaters", skater)
            alert("Datos actualizados con éxito")
            window.location = "/"
        }  catch (error) {
      alert(error.response.data.error);
    }

    })
</script>